<html lang="">
<head>
    <style>
    </style>

    <title>Password Changed</title>
</head>
<body>
    <p>Hi friend,</p>
    <p>Your password has been changed successfully</p>
</body>
</html>